@page
@model GAvicola.App.Frontend.Pages.Galpones.AddVeterinariosModel
@{
}
<h1>Asignar Veterinario</h1>
<form method="post">
    <div class="form-group">
        <label for="idGalpon">Galpon</label>
        <input type="hidden" id="idGalpon"name="idGalpon" class="form-control" value="@Model.galpon.Id" readonly>
        <input type="text" class="form-control" value="@Model.galpon.Nombre" readonly>
    </div>
    <div class="form-group">
        <label for="idVeterinario">Veterinario</label>
        <select name="idVeterinario" id="idVeterinario" class="form-control">
            @foreach (var veterinario in Model.veterinarios)
            {
                <option value="@veterinario.Id">@veterinario.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Asignar Veterinario1</button>
</form>
<A class="btn btn-secondary" asp-page="./index1">Volver</a>